body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


header {
    background-color: hsl(133, 30%, 58%);
    color: white;
    padding: 20px;
    text-align: center;
}

/* Navigation Bar */
nav ul {
    list-style: none; /* Removes bullet points from list */
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline; /* Links in one row */
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Section Styling */
section {
    padding: 40px;
    margin: 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px hsl(133, 30%, 58%);
}

/* Project Section */
.projects h3 {
    font-size: 1.5rem;
    color: hsl(133, 30%, 58%);
    margin-bottom: 10px;
}

.showLess {
    display: none; /* Hide the additional content initially */
}

.showMore a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: hsl(133, 30%, 58%);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.showMore a:hover {
    background-color: hsl(133, 40%, 60%);
}

.contact-link {
    margin: 20px 10px;
    display: block;
    padding: 10px;
    background-color: hsl(133, 30%, 58%);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 450px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: larger;
 
}

/* Footer Styling */
footer {
    background-color: hsl(133, 30%, 58%);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Mobile Styling */
@media only screen and (max-width: 600px) {
    header, footer {
        padding: 10px;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    section {
        padding: 10px;
        margin: 10px;
    }

    .projects h3 {
        font-size: 1.2rem;
    }
}

